body.active-modal {
    overflow-y: hidden;
}

.modal-button {
    width: 10%;
    height: 5%;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.send-button {
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.chat-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

.chat-messages {
    flex: 1;
    overflow-y: auto;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    max-height: 80vh;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}