:root {
  font-family: 'Font';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../assets/Witch_Dog_Arena.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  justify-content: center; 
  align-items: center;     
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 60px;
}

.main-content {
  min-width: unset;
  min-height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen {
  width: 80vw;
  max-width: 500px;
  aspect-ratio: 5 / 8;
  background-image: url('../assets/Center_Background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.input-container {
  border-radius: 20px;
  padding: 60px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.input-group {
  margin-bottom: 2vh;
  text-align: left;
  border-radius: 15px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  height: 80px;
  border-radius: 15px;
  
  /* background image inside the input */
  background-image: url('../assets/Text_Input.png');
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: center;
  
  padding-left: 30%; /* space for text inside the image */
  padding-right: 30%;
}


.text-input {
  width: 100%;
  padding: 2vh 2vw;
  border: none;
  outline: none; 
  background: transparent; 
  box-sizing: border-box;
  margin-top: 1vh;
  font-family: inherit;
  font-size: 2vh;
  text-align: center;
  color: #333
}


button {
  font-family: inherit;
  width: 100%;
  padding: 4vh 6vw;
  background: transparent;
  border: none;
  border-radius: 2vw;
  font-size: 1.8vh;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 2vh;
  overflow: visible;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../assets/Button.png');
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
button:hover {
  transform: translateY(-3px);
}
button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  transform: none;
}

@font-face {
  font-family: 'Font';
  src: url('../assets/Quintessential-Regular.ttf') format('truetype');
  font-weight: normal; /* adjust if you have multiple weights */
  font-style: normal;
}
