/* TriviaScreen.css */

.trivia-layout {
  padding: 6rem 0.5rem 1rem 1rem;
  color: #fff;
}

.result-screen {
  width: 500px;
  height: 800px;
  max-width: 500px;
  background-image: url('../assets/Center_Background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.trivia-question {
  margin: 0rem 0;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2vh;
  text-align: center;
}

.trivia-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.trivia-button {
  position: relative;
  font-size: 2vh;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  height: 80px;
  width: 100%;
  max-width: 380px;
  aspect-ratio: 5 / 1.5;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-left: 0;
  transition: transform 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.trivia-button:disabled {
  cursor: not-allowed;
}

.trivia-button span {
  padding: 0.4rem 0rem;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  color: black;
}

.trivia-button:hover:not(:disabled) {
  transform: scale(1.05);
}

.result-text {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.result-text.visible {
    opacity: 1;
    transform: scale(1);
}